<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CieApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/cie_shield_app_icon_v2"
        android:roundIcon="@drawable/cie_shield_app_icon_v2"
        android:label="CIE Shield"
        android:supportsRtl="true"
        android:theme="@style/Theme.CIE"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MessageShieldLabActivity"
            android:exported="false"
            android:label="CIE Shield Lab" />

        <activity android:name=".MainActivity" android:exported="false" />

        <activity
            android:name=".MainActivity076"
            android:exported="true"
            android:label="CIE Shield">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CieBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".telecom.CieCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>
    </application>
</manifest>
